<div class="search-input">
  <div class="search-input__input">
    <input type="text"  placeholder="Enter company name or number..." id="search" name="search" [(ngModel)]="searchTerm" (keyup)="onSearch()" (keydown.enter)="onHardSearch()"  (focus)="onFocus()" (blur)="onBlur()"/>
    <button type="button" (click)="onHardSearch()">
      <mat-icon>search</mat-icon>
    </button>

    <div class="search-input__results" *ngIf="shouldShowResults" (mouseenter)="onFocus()">
      <table width="100%" class="search-results__table">
        <tr><td><strong>TODO: ALLY for key down select, et al</strong></td></tr>
        <tr *ngFor="let result of config?.results?.items" (click)="onSelect(result)"
        class="search-results__table__row">
        <td>{{ result.title }} </td>
        <td>{{ result.company_status }} </td>
        <td>{{ result.company_number }} </td>
        <td>{{ result.description_identifier }} {{ result.date_of_creation }}</td>
        </tr>
      </table>
    </div>

  </div>

</div>